@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// variables
$font: 'Lato', sans-serif;
$black: #333;
$grey: #777;
$white: #F9F9F9;
$gold: #E8AE0C;
$blue: #0D9FCC;
$blue2: #0D9FFF;
//$gradient: linear-gradient(to bottom, $blue2 2%,$blue 98%);

// mixins
//@mixin material-1 { box-shadow: 2px 3px 5px $black; }
@mixin material-2 { box-shadow: 1px 2px 3px $grey; }
@mixin material-3 { box-shadow: 0 2px 10px $grey; }
@mixin material-4 { box-shadow: 0 1px 5px $grey; }
@mixin transition { transition: all .5s, ease-in .15s; }
@mixin border {
  border: 0;
  border-radius: 0;
}

// general style
body {
  background: $white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: $font;
  color: $black;
}

// elements
.navbar {
  @include material-3;
  @include border;
  background-color: $black;
  .logo {
    position: relative;
    top: 10px;
    font-size: 1.2em;
    color: $white;
    text-decoration: none;
  }
}

.modal {
  @include border;
  .modal-header {
    background-color: $black;
    color: $white;

    .close { color: $white; }
  }

  .modal-body {
    background-color: $white;

    input {
      @include border;

      &:focus {
        @include material-2;
      }  
    }
  }
}

.btn {
  @include material-2;
  @include transition;
  @include border;
  background-color: $black;
  opacity: .96;
  color: $white;

  &:hover, &:active, &:focus {
    background-color: $white;
    color: $black;
  }

  span {
    margin-left: 5px;
  }
}

// search-box styling
.search-box {
  @include border;
  @include transition;
  h1 {
    color: $black;
    font-weight: bold;
    font-size: 3.3em;
  }

  p { margin-top: 10px; }

  .form-control {
    border-radius: 0;
    padding: 30px;
    font-size: 2.3em;
    font-weight: 300;

    &:focus {
      @include material-2;
    }  
  }
}

// error styling
.error {
  @include material-2;
  @include border;
  background-color: $black;
  color: $white;
  padding: 60px;

  h2 {
    font-size: 3.5em;
    font-weight: bold;
  }
}

// panel styling
.panel {
  border-radius: 0;
  .panel-heading {
    @include border;
    @include material-2;
    margin-bottom: 20px;
    background-color: $black;
    color: $white;
    
    .panel-title {
      font-size: 1.5em;
    }
  }

  .panel-body {
    .avatar {
      @include border;
      width: 100%;
      margin-top: -8px;
    }

    .label {
      @include border;
      padding: 8px 4px;
     }
     
    .label-primary { background-color: $blue2; }

    .list-group {
      li {
        border-left: none;
        border-right: none;

        .info { color: $grey; }

        a {
          color: $blue2;
          text-decoration: none;
        }
      }
    }
  }
}

// repositories styling
.page-header {
  color: $black;
  font-weight: bold;
  border-bottom: none;
  margin-top: 0;
}

// repos
.well {
  border-radius: 0;
  background-color: #fff;
  .repo-name { margin-bottom: -20px; }
  .description { color: $grey; }

  .label {
    @include border;
    padding: 10px;
  }

  .label-warning { background-color: $gold; }
}

// pagination nav
.pagination {
  //@include border;
  .active {
    .page-link {
      @include border;
      background-color: $black;
      color: $white;
      padding: 11px 13px;

       &:hover, &:active, &:focus {
        background-color: $black;
        color: $white;
      }
    }
  }

  .first {
    .page-link {
      border-radius: 0;
      color: $black;
    }
  }

  .last {
    .page-link {
      border-radius: 0;
      color: $black;
    }
  }  

  .page-item {
    a {
      //@include border;
      padding: 10px 12px;
      color: $black;

      &:hover { color: $black; }
    }
    span { color: $black; }
  }
}